* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    overscroll-behavior-y: none;
}

main {
    display: grid;
    grid-template-rows: 25vh 75vh;
    max-width: 768px;
    margin: auto;
}

.feed {
    height: 100vh;
}

.video-container {
    height: 75vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-container #videoplayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.gift-list-item {
    padding: 1em;
    display: grid;
    grid-template-columns: 128px 1fr;
}

.gift-icon-container {
    width: 128px;
    height: 128px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.gift-icon-container img {
    object-fit: contain;
    object-position: center;
}

.gift-text-info {
    padding: 1em
}